
*{
  box-sizing: border-box;
}
#photo-template{
  display: hidden;
}
header{
 margin-top: 0px;
  height: 400px;
  position: relative;
}

main{
  width: 1500px;
  margin: 0 auto;
  overflow: hidden;
}

select{
  display: block;
  margin: 40px auto;
  height: 50px;
}

section {
  width: 400px;
  height: 500px;
  float: left;
  text-align: center;
  margin: 10px;
  overflow: hidden;
} 

img {
  width: 200px;
  height: 200px;
  margin: 10px;
  border-radius: 20px; 
}

footer{
  width: 100%;
  clear: both;
  text-align: center;
  padding: 20px;
  background-color: rgb(69, 70, 70);
}