
*{
  box-sizing: border-box;
}
header{
 margin-top: 0px;
  height: 400px;
  position: relative;
}

main{
  width: 1000px;
  margin: 0 auto;
  overflow: hidden;
}
/* #UniWhal{
  display: block;
  float: left;
  margin: 40px auto;
  width: 200px;
} */

/* #Rhino{
  display: block;
  float: left;
  margin: 40px auto;
  width: 200px;
} */
select{
  display: block;
  margin: 40px auto;
  height: 50px;
}
